.icons{
    width: 60%;
    margin: 3rem 7rem;
    margin-left: 25rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    height: 100%;
    border: 1px solid black;
}

.inner{
    border: 1px solid black;
}

.inner:hover{
    border: 3px solid blue;
    
}